@page "/movies/search"

<h3><MudIcon Icon="@Icons.Material.Outlined.Search" Title="Search" />Search movies by title</h3>

<div style="max-width: 600px;">
	<EditForm Model="@model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="InvalidSubmit">
		<DataAnnotationsValidator/>
		<MudCard>
			<MudCardContent>
				<MudTextField T="string" Label="Movie title" Required="true" @bind-Value="model.SearchText" RequiredError="Movie title is required!"/>
			</MudCardContent>
			<MudCardActions>
				<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Search</MudButton>
			</MudCardActions>
		</MudCard>
		<MudText Typo="Typo.body2" Align="Align.Center" Class="my-4">
			Fill out the form correctly to see the success message.
		</MudText>
	</EditForm>

</div>
<br/>

@if (HaveMovies)
{
	<div>
		<h3>Result movies</h3>

		<ul>

			@foreach (MovieInfo movieInfo in movies)
			{
				
				@*<li>@movieInfo.Title (@movieInfo.ReleaseYear) - @movieInfo.Description</li>*@
			}

		</ul>
	</div>
}


@code {
 


}
