@page "/movies/search_history"
@inject ISnackbar Snackbar

<h3><MudIcon Icon="@Icons.Material.Outlined.SavedSearch" Title="Search" />Search history</h3>

@if (SearchResult.Any())
{
	@*<ul>
		@foreach (var item in SearchResult)
		{
		<li>
		@item.Title [@item.Movies.Count()]
		</li>
		}
		</ul>
	*@
	<MudTreeView Items="@TreeItems">
		<ItemTemplate>
			<MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.TreeItems">
				<Content>
					<MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChild" />
					<MudIcon Icon="@context.Icon" Class="ml-0 mr-2" Color="@Color.Secondary" />
					@if (context.IsMovieInfo)
				{
					<MudLink Href="@($"/movies/info/{context.ImdbId}")" Underline="Underline.Always">@context.Text</MudLink>
				}
				else
				{

					<MudText>@context.Text</MudText>
				}
			</Content>
		</MudTreeViewItem>
	</ItemTemplate>
</MudTreeView>

}

@code {



}
